# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
angular-router/node_modules
angular-router/npm-debug.log
angular-router/yarn-error.log

lifecycle-form/node_modules
lifecycle-form/npm-debug.log
lifecycle-form/yarn-error.log

resolution-modifiers/node_modules
resolution-modifiers/npm-debug.log
resolution-modifiers/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
